$orange: hsl(26, 100%, 55%);
$light-orange: hsl(25, 100%, 94%); //hover state
$white: hsl(0, 0%, 100%);
$light-box-bg: hsla(0, 0%, 0%, 75%);
$link-color: hsl(220, 14%, 75%); //link and p color
$old-price-color: hsl(223, 64%, 98%);
$notif-colr: hsl(219, 9%, 45%);
$title-color: hsl(220, 13%, 13%); // hover links
$navMobileBg: rgba(0, 0, 0, 0.6);
//family
$family: "Kumbh Sans", sans-serif;
//breakpoint
$mobile: "(max-width: 767px)";
$small: "(min-width: 768px) and (max-width: 921px)";
$medium: "(min-width: 768px) and (max-width: 1199px)";
